# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request 
# 控制触发规则push或者pull request
# events but only for the master branch
# 触发角色
on:
  push:
    branches: [ master ]
  #pull_request:
    #branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
# 工作流程运行由一个或多个可以依次运行或并行运行的作业组成
jobs:
  # This workflow contains a single job called "build此工作流程包含一个名为“ build”的作业
  build:
    # The type of runner that the job will run on作业将运行的运行程序类型
    name: My first job
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    #步骤代表将作为工作一部分执行的一系列任务
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it在$ GITHUB_WORKSPACE下签出您的存储库，以便您的工作可以访问它
    - name: checkout
      uses: actions/checkout@master

    # Runs a single command using the runners shell
    - name: Run a one-line script
      run: echo Hello, world!

    # Runs a set of commands using the runners shell
    - name: Run a multi-line script
      run: |
        echo Add other actions to build,
        echo test, and deploy your project.
